@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.fira{
    font-family: "Fira Sans", serif;
}
*{margin: 0;}
/* *{background-color: #F5F5F5;} */
/* shared style  */
.whit-1{
    color: #FFFFFF;
}
.whit-2{
    background-color: #F5F5F5;
}
.dark-2{
    color: rgba(14, 14, 14, 0.7);
}
.content-width{
    max-width: 1280px;
    margin: 0 auto;
}
.common-para{
    font-size: 16px;
}
.common-item{
    font-size: 20px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 12px;
}
.piller-img{
    width: 64px;
    height: 64px;
}
.piller-title{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 32px;
}

/* image resize  */
.hero{
    width: 475px;
    height: 400px;
    padding-left: 40px;
}
/* nav bar  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 44px 0;
}
nav h1{
    font-size: 32px;
    font-weight: bold;
} 
.nav-btn{
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18;
    font-weight: 600;
}
/* header content       */
.bd{
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px 80px 50px;
}
.bd-title{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.bd-dis{
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 24px;
}
.bd-btn{
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
}
.bd-content{
    /* padding-right: 30px; */
}

/* section 1  */

.piller-content{
    display: flex;
    justify-content: space-between;
}
.first-sec{
    padding: 80px 0;
}
.piller-dis{
    background-color: #FFFFFF;
    border-radius: 16px;
    max-width: 254px;
    padding: 24px;
}
/* section 2  */
.vision-content{
    display: flex;
    justify-content: space-between;
}
.vision-content-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-content-2{
    background-color: #C6E4D6;
}
.vision-content-3{
    background-color: #F7EBCF;
}
.vision-dis{
    padding: 32px;
    max-width: 346px;
    border-radius: 16px;
}
.vision-para{
    padding-bottom: 24px;
}
.vision-btn-1{
    padding: 11px 22px;
    color: #FFFFFF;
    background-color: #5490F5;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.vision-btn-2{
    padding: 11px 22px;
    color: #FFFFFF;
    background-color: #09A15C;
    font-size: 16px;
    font-weight: 600;
    margin-top: 19px;
    border: none;
    border-radius: 8px;
}
.vision-btn-3{
    padding: 11px 22px;
    color: #FFFFFF;
    background-color: #FFC239;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.yunus-dis{
    padding: 48px 24px;
    background-color: #FFFFFF;
    margin: 32px 0 80px 0;
    border-radius: 16px;
}
table{
    border-collapse: collapse;
    display: flex;
}

table td{
    border: 1px solid black;
    width: 300px;
}
.td-heading{
    font-size: 20px;
    font-weight: 600;
    display: flex; */
    justify-content: ;
    padding: 24px;
    /* /* column-span: 2; */
}

/* section 3  */
.satalite-bd{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    margin: 24px auto;
    /* justify-content: space-between; */
    align-items: center;
}
.satalite-dis{
    padding-left: 32px;
}
.satalite-img{
    border-radius: 24px;
}
.satalite-title{
    font-size: 32px;
}
.satalite-logo{
    padding: 12px 0;
}
/* section 4  */
.donate-content{
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    text-align: center;
}
.donate-button{
    padding: 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid rgba(204, 204, 204, 0.863);
    margin: 32px 12px;
}
.donate-items{
    padding: 80px 0;
}
/* .input-value{
    display: flex;
    flex-direction: column; */
/* } */
.subscribe-conten{
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 280px;
}
.email-in{
    /* max-width: 520px; */
}





/* footer  */
footer{
    background-color: #FFFFFF;
}
.ending {
    max-width: 1122px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.863);
    margin: auto;
    padding: 50px 450px 32px 450px;
}
.footer-content{
    padding: 32px 0 50px 0;
}
.all-contents{
    display: flex;
    justify-content: center;
    gap: 23px;
}